.project {
    padding: 16px;
    background: var(--color-bg-variant);
    /* color: black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.project__img {
    border-radius: 8px;
    overflow: hidden;
    /* width: 150px; */
}

.project__img img {
    border-radius: 8px;
}

.project__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__content p {
    color: var(--color-light);
    padding: 4px 0;
}

.project__cta {
    display: flex;
    gap: 1rem;
}


/* ============ MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .project {
        flex-direction: column;
    }
}